body {
  
  background-image: url("new farmly background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: lighten;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: helvetica;

}

p {text-align: center;
	font-family: helvetica;
}
p {font-size: 22px;
}
input {
	border: 0;
	padding: 5px;

form {text-align: center;
	
}