<h1>Local Farm Map</h1>
<h2>Here at FarmLink, we believe in directly connecting local farmers to their client base!</h2>
<div class= "container">
<div id="map" style="width:80%; height:300px; margin: 0; background:yellow"></div>
</div>
