<h1>Local Farm Map</h1>
<div class= "container">
<div id="map" style="width:80in; height:400px; margin: 0; background:yellow"></div>
</div>


<div class="side-bar">
  <div class="tab">About US</div>
 <ul>
   <li>Click on the pins to find local farmer's markets and farms in your area!</li>
   <li>Each pin directs you to our farmer's websites!</li>
   <li>Farmers, sign up to register and advertise your farms!</li>
 </ul>
</div>
