<!DOCTYPE html>
<head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKnZo3Omfk92FdVJqEfcDXft0R0OuzVRk&callback=myMap" async defer>
  </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>{{title}}</title>

  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg">
      <div class="container-fluid navbar-container">
        <div class="left-nav">
        </head>
<nav class="navbar">
<a class="navbar-brand" href= "/" ><img src="/images/logo.png" alt= logo>Farm-Link</a>

<div class="navbar-text">
</div>
</nav>
        </div>
        <div class="navbar-text">
          {{#if currentUserId}}
            <p class="navbar-link" href="/users/{{currentUserId}}/profile"></p> |
            <a class="navbar-link" href="/logout"><i class='fa fa-sign-out'></i>Log out</a>
          {{else}}
            <a class="navbar-link" href="/login"><i class='fa fa-user'></i>Farmers Log in</a> |
            <a class="navbar-link" href="/users/new">Sign up</a>
          {{/if}}
        </div>
      </div>
    </nav>
    {{{body}}}




    <footer class='text-center bottom-nav'>
  		<nav class='navbar fixed-bottom navbar ash'>
  			<div class='container-fluid'>
  				<div class='navbar-text'>
  					<a href='#' class='navbar-link custom'><i class='fa fa-facebook'></i></a>
  					<a href='#' class='navbar-link custom'><i class='fa fa-google'></i></a>
  					<a href='#' class='navbar-link custom'><i class='fa fa-twitter'></i></a>
            </div>
  				<div class='navbar-text navbar-right'>
  					<a href='#' class='navbar-link custom'>Site Map</a>
  					<a href='#' class='navbar-link custom'>Contact Us</a>
  					<a href='#' class='navbar-link custom'>Terms &amp; Conditions</a>
            </div>
  			</div>
  		</nav>
  	</footer>
       <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <script src="javascripts/main.js" charset="utf-8"></script>

    </body>
  </html>