<form class action ="/login" method="post">

  <div class="container-fluid section header">
    <div class="login-content">
        <h2 class="login-label">Log In</h2>

        <div class="form-group">
          <input type="text" style="width:60%; margin: auto" name="email" class="form-control" id="user-username" placeholder="E-mail" autocomplete="off"/>
        </div>

        <div class="form-group">
          <input type="password" style="width:60%; margin: auto" name="password" class="form-control" id="user-password" placeholder="Password" autocomplete="off"/>
        </div>

        <div class="row justify-content-center">
          <p id="error-message">
          </p>
          <p>
            Don't have an account? <a href="/users/new">Sign up!</a>
          </p>

        </div>

        <div class="text-center">
          <button type="submit" class="submit-button btn btn-primary">Log In</button>
        </div>
      </div>
  </div>
</form>
