html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }

.main{
  padding-top: 75px;
}
.navbar{
padding:0;
margin: 0
display: inline-block;
border: none;
text-align:right;
justify-content: space-between;
background-color:#1da2e6;
color: #ffffff;
font-family:"Sans-Serif," Arial;
font-size: 25px;
  }
  .navbar-link{
    color: #ffffff;
  }

.wrapper{
  text-align: center;
}

.navbar-brand{
  padding: 1px;
}
.button {
    position: absolute;
    top: 50%
}

img {
width:45px;
top: 0;
}


form {
  max-width: 20em;
  align-items: center;
}

.username {
      margin-top: 80px;
      left: 466px;
      top: 200px;
      position: relative;
}
.button {
  float: left;
margin-right:10px;
}
.button-2 {
float: right;
margin-left: 10px;
}
#map {
  width: 80%;
  height: 300px;
}
.container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
