<form action="/users" method="post">

<div class="container-fluid section header">
    <div class="signup-content">
        <h2 class="login-label text-center">Sign up</h2>

        <div class="form-group text-center">

        <input type="text" id="user-first-name" name="first" class="form-control" placeholder="First Name" autocomplete="off">

        <input type="text" id="user-last-name" name="last" class="form-control" placeholder="Last Name" autocomplete="off">

        <input type="email" id="user-email" name="email" class="form-control" placeholder="E-mail" autocomplete="off">

        <input type="password" id="user-password" name="password" class="form-control" placeholder="Password" autocomplete="off">

        <input type="text" id="user-farm" name="farm" class="form-control" placeholder="farm" autocomplete="off">

        <input type="text" id="user-zip" name="school" class="form-control" placeholder="zip-code" autocomplete="off">

        <div class="text-center">
          <button type="submit" class="btn submit-button btn-primary">Create a new account</button>
        </div>
    </div>
</div>
</div>

</form>
